SITE_DOMAIN=localhost
SUB_DOMAINS=["127.0.0.1"]
STAGE=prod #
PROXY_PREFIX=/api
TZ=Europe/Amsterdam


# These values are configured by default, you can override them as needed.
# Some of these parameters affect Uvicorn workers directly.
GUNICORN_WORKERS=$((2 * $(nproc) + 1))
GUNICORN_WORKER_CLASS="uvicorn.workers.UvicornWorker"
GUNICORN_SOCKET_PATH="unix:/tmp/gunicorn_socket/gunicorn.sock"
GUNICORN_LOG_LEVEL="error"
GUNICORN_ERROR_LOG_FILE="-"
GUNICORN_ACCESS_LOG_FILE="-"
GUNICORN_CAPTURE_OUTPUT="false"
GUNICORN_KEEP_ALIVE="5"
GUNICORN_TIMEOUT="30"
GUNICORN_LOGGER="app.logger.GunicornLogger"
GUNICORN_FORWARDED_ALLOW_IPS=$(getent hosts nginx | awk '{ print $1 }')